* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
  display: block;
  background-color: #ede1cb;
  opacity: 0.8;
}

/*HEADER-TOP*/
.header_container {
  position: relative;
  height: 120px;
  max-width: 1225px;
}

.header_img {
  width: 1225px;
  max-width: 1225px;
  height: 120px;
  z-index: -1;
  opacity: 0.6;
  position: absolute;
}

.head_title {
  font-size: 50px;
  font-weight: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  text-align: center;
  position: absolute;
  width: 100%;
}

/*NAVIAGTION MONTHS BUTTONS*/

.nav {
  width: 210px;
  border: none;
  height: 581px;
  flex: 0 1 255px;
}

.month {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  font-size: 25px;
  color: black;
  padding: 8px 12px;
  margin-bottom: 1.5px;
  width: 250px;
  border: none;
  text-align: left;
  transition: 0.3s;
  height: 47px;
  cursor: pointer;
  background-color: #ede1cb;
  border: 0.5px solid #735533;
}

.month:hover,
.month:focus,
.active {
  background-color: #a89575;
}

/*CONTENT WITH IMGS AND MUSIC*/
.nav_content {
  display: flex;
}

.content {
  display: none;
  flex: 1;
  height: 581px;
  border: 1px solid #ccc;
  background-color: #ede1cb;
  width: 930px;
}

img {
  width: 950px;
  height: 580px;
  border: 0.5px solid #735533;
}

audio {
  position: relative;
  top: 60px;
  left: 30%;
  opacity: 0.8;
}
